# Arquivos de Build do Flutter (Essencial)
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# Android (O que você já tinha, mas organizado)
android/**/generated/
android/app/debug/
android/app/release/
android/app/profile/
android/local.properties
android/GeneratedPluginRegistrant.java
.gradle/
captures/
gradle-wrapper.jar
gradlew
gradlew.bat
.cxx/

# Segurança e Chaves (Não compartilhe!)
key.properties
**/*.keystore
**/*.jks

# Configurações de IDE (VS Code e Android Studio)
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Log e outros
*.log
doc/api/